
<script>console.log('meal-listing.hb start');</script>

{{#each meals}}
  <div data-meal-id={{id}}>
    <br>meal id: {{id}}
    <br>name: {{name}}
    <br>desc: {{desc}}
    <br>price: {{price}}
    <br>
    <button type="button" class="btn btn-primary btn-sm reviews-button" data-toggle="modal" data-target="#reviews" >
    Reviews</button>
    <button type="button" class="btn btn-primary btn-sm write-review" data-id="{{id}}">
    Write Review</button>
  </div>
{{/each}}

<script>console.log('meal-listing.hb end');</script>
